@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

// @import "themes/orange";

body {
  font-size: var(--font-size-m);
  color: var(--primary-text-color);
}

.app {
  background: var(--primary-bg-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}
