@import "reset.scss";
@import "variables/global.scss";
@import "themes/light.scss";
@import "themes/dark.scss";

.app {
  font: var(--font-size-m);
  background: var(--primary-bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.content-wrapper {
  flex: 1 0 auto;
  padding: 20px;
}
