.Popover {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  &:hover {
    opacity: 0.7;
  }
}

.panel {
  background-color: var(--listbox-bg-color);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--primary-color);

  // will be 100% of the .Dropdown width
  min-width: 150px;
  display: flex;
  flex-direction: column;
}