.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
}

.outlined {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}

.background {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-height-m);
  height: var(--font-line-height-m);
  font-size: var(--font-size-m);
}

.square.size_l {
  width: var(--font-line-height-l);
  height: var(--font-line-height-l);
  font-size: var(--font-size-l);
}

.square.size_xl {
  width: var(--font-line-height-xl);
  height: var(--font-line-height-xl);
  font-size: var(--font-size-xl);
}

.size_m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
}

.size_l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
}

.size_xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
}
