.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--secondary-bg-color);
  position: relative;
  transition: width 0.3s ease-in-out;
}

.Switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin: 0 0 0 10px;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .Switchers {
    flex-direction: column;
  }

  .lang {
    margin: 10px 0 0;
  }
}

.collapsedButton {
  position: absolute;
  bottom: 40px;
  right: -40px;
  cursor: pointer;
  outline: none;
  object-fit: contain;
}

.NavLinks {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
