.SidebarItem {
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.linkIcon {
  margin-right: 10px;

  &.collapsed {
    margin-right: 0;
  }
}

a {
  text-decoration: none;
}