.ArticleList {
  display: flex;
  width: 100%;
}

.LIST {
  flex-direction: column;
  
  .card {
    margin-bottom: 30px;
  }
}

.GRID {
  flex-wrap: wrap;
  gap: 30px;
}

.noArticles {
  width: 100%;
  text-align: center;
}
