.ArticleListItem {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.LIST {
  .views {
    margin-left: auto;
    color: var(--primary-color);
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
    color: var(--primary-color);
  }

  .date {
    margin-left: auto;
    color: var(--primary-color);
  }

  .types {
    color: var(--primary-color-variant);
  }

  .title {
    margin-top: 8px;
  }

  .img {
    margin: 16px 0;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }

  .footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
}

.GRID {
  width: 230px;
  cursor: pointer;
  transition: 0.2s;

  .date {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
    color: var(--primary-color);
  }

  .types {
    color: var(--primary-color-variant);
  }

  .imageWrapper {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .infoWrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--primary-color-variant);
    transform: scale(1.01);
    z-index: 1;

    .date {
      display: block;
    }
  }
}

a {
  text-decoration: none;
}
