.trigger {
  background: var(--primary-bg-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  outline: none;
  padding: 10px 15px;
  margin: 0;
  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }
}

.ListBox {
  display: flex;
  flex-direction: column;
  position: relative;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .trigger {
      cursor: not-allowed;
    }
  }
}

.options {
  padding: 5px;
  width: 100%;
  background-color: var(--listbox-bg-color);
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0 0 0 / 20%);
}

.option {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 15px 10px 24px;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 8px;
}

.active {
  background-color: var(--secondary-bg-color);
}

.selected {
  color: var(--primary-color);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkedIcon {
  position: absolute;
  left: 0;
}

.label {
  margin-bottom: 4px;
}
