.app.dark {
  --primary-bg-color: #111;
  --secondary-bg-color: #1f1f1f;
  --primary-color: #bb86fc;
  --primary-color-variant: #3700b3;
  --secondary-color: #00dac5;
  --secondary-color-variant: #028786;
  --primary-text-color: #fff;
  --error-color: #cf6679;
}
