.app_dark_theme {
  --primary-bg-color: #111;
  --secondary-bg-color: #1f1f1f;
  --primary-color: #00dac5;
  --primary-color-variant: #028786;
  --secondary-color: #bb86fc;
  --secondary-color-variant: #3700b3;
  --primary-text-color: #fff;
  --error-color: #cf6679;

  // Skeleton
  --skeleton-color: #c5a3ee;
  --skeleton-shadow: #bb86fc;

  // card 
  --card-bg-color: #282525;
}
