:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #eff2f6d4;
  --primary-color: #0d6efd;
  --primary-color-variant: #072e69;
  --secondary-color: #0dcaf0;
  --secondary-color-variant: #0b697c;
  --primary-text-color: #212121;
  --error-color: #b00020;
}
