.app.light {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2e6fe;
  --primary-color: #bb86fc;
  --primary-color-variant: #3700b3;
  --secondary-color: #00dac5;
  --secondary-color-variant: #028786;
  --primary-text-color: #000000;
  --error-color: #b00020;
}
