.app_orange_theme {
  --primary-bg-color: #FBF8F4;
  --secondary-bg-color: #cf902a;
  --primary-color: #437B51;
  --primary-color-variant: #1a2c1f;
  --primary-text-color: #437B51;
  --error-color: #AE2F24;
}
