.ProfilePageHeader {
  display: flex;
  
  // background-color: var(--secondary-bg-color);
}

.buttonsWrapper {
  display: flex;
  margin-left: auto;
}

.editButton {
  margin-left: auto;
}

.saveButton {
  margin-left: auto;
  margin-right: 10px;
}
