.ProfileCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--primary-color-variant);
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.header {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.data {
  margin-top: 20px;
}

.input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}